body{
    background-image: url("../images/pkmn.jpg");
    background-size: cover;
}

.title{
    color: rgb(255, 255, 255);
    font-size: 300%;
    text-align: center;
}

.buttons{
    text-align: center;
}